$primary-text-color: #667085;
$secondary-color: #101828;
$light-color: #ffffff;
$dark-color: #000000;
$accent-color: #71685B;
$form-color: #344054;
$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
$family_Inter: "Inter", sans-serif;